In [3]:
##1. percentage and grade
marks= int(input("enter the marks:"))
if marks>90:
    print("grade A")
elif marks>80 and marks<=90:
    print("grade B")
elif marks>60 and marks<=80:
    print("grade C")
else:
    print("grade D")

enter the marks: 90

grade B

In [6]:
##2. tax and cost price 
price= int(input("enter the price"))
if price>100000:
    print("the road tax will be add 15%")
elif price>50000 and price<=100000:
    print("the road tax will be add 10%")
else:
    print("the road tax will be add 5%")

enter the price 50000

the road tax will be add 5%

In [1]:
##3. display the monument of that city
city=input("enter the city=")
if city=="Delhi":
    print("you will able to see Red Fort")
elif city=='Agra':
    print("you will be able to see Taj Mahal")
elif city=='Jaipur':
    print("you will be able to see Jal Mahal")
else:
    print("you will not be able to see any of the moment that i mention above")

enter the city= Delhi

you will able to see Red Fort

In [ ]:
5. With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
#example---- Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [2]:
#6.use nested while loop to print 3 different pattern
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [3]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [1]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [1]:
#7. reverse from 10 to 1 using while loop
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [2]:
#8.reverse from 10 to 1 using while loop
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1