In [ ]:
1. for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
#example of for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
#example while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [8]:
#2.print the sum of 10 natural numbers
sum=0
for i in range(10):
    sum=sum+i
sum

45

In [1]:
#2.print the product of first 10 natural number
product=1
for i in range(1,11):
    product= product*i
product

3628800

In [5]:
#3. to compute the electricity bill
unit=int(input("enter the unit of electricty consumed by the user:"))
if unit<=100:
    print("the user will be charged Rs. 4.5 per unit")
elif unit>100 and unit<=200:
    print("the user will be charged Rs. 6 per unit")
elif unit>200 and unit<=300:
    print("the user will be charged Rs. 10 per unit")
else:
    if unit==310:
        print("total electricity bill should be 2250")
    else:
        print("the user will be charged Rs. 20 per unit")

enter the unit of electricty consumed by the user: 305

the user will be charged Rs. 20 per unit

In [2]:
# 4. list of number from 1 to 100. use for loop to calculare the cube of number
for_cube_l1=[]
for_divide_l2=[]
for i in range(1,101):
    for_cube_l1.append(i)
    cube=i*i*i
    print(cube)
    if(cube%4==0 or cube%5==0):
        for_divide_l2.append(cube)
print("for_cube_l1 is : ",for_cube_l1)
print()
print()
print("for_divide_l2 is :",for_divide_l2)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000
for_cube_l1 is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]


for_divide_l2 is : [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [4]:
#count the vowel
string=input("enter a string=")
vowel=0
for i in range(0,len(string)):
    if string[i]=='a' or string[i]=='e' or string[i]=='i' or string[i]=='o' or string[i]=='u':
        vowel=vowel+1
print("vowel",vowel)

enter a string= i want to become a data scientist

vowel 12